.bodyContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 70px 50px 1fr 25px 1fr 50px;
    grid-template-columns: 8fr 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}
header{
    grid-area: 1 / 1 / 2 / 3;
}
nav {
    grid-area: 2 / 1 / 3 / 3;
}
.textContent {
    grid-area: 3 / 1 / 4 / 2;
    overflow-y: auto;
    padding: 5px 20px 0px 20px;
}
.imgContent {
    grid-area: 3 / 2 / 4 / 3;
    padding: 5px;
    display: flex;
    overflow: hidden;
}
.imgContent img {
    max-width: 100%;
}
.tableFilters {
    grid-area: 4 / 1 / 5 / 3;
}
.tableDiv {
    grid-area: 5 / 1 / 6 / 3;
}
footer {
    grid-area: 6 / 1 / 7 / 3;
}